.text
  &.big
    font-size: 1.5em

.inverted.segment
  .ui.list
    .item
      a
        text-decoration: underline
        &:hover
          color: white !important
          text-decoration: none

.segment
  .ui.list
    .item
      a
        color: rgba(0, 0, 0, 0.7)
        text-decoration: underline
        &:hover
          text-decoration: none

.footer.segment
  a
    color: white
    text-decoration: underline
    &:hover
      text-decoration: none
