table.grid
  border: 1px solid black

  td
    padding: 2em
    text-align: center
    border: 1px solid black

    &.black
      background: black
      color: white

    &.purple
      background: purple
      color: white

    &.yellow
      background: yellow
      color: black

    &.dark.yellow
      background: darken(yellow, 10)
      color: black
